.logo{
    width: 100px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border: 1px solid black;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    font-size: larger;
    padding: 0px 10px;
    margin-top: 30px;
}

.body-container{
    margin: 10px 10px;
}

.res-card{
    height: 350px;
    width: 250px;
    background-color: #ecebeb;
    margin: 10px 0px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    
}

.res-image{
    width:230px;
    padding: 10px;
    height:200px;
}

.res-card-text{
    margin: 2px;
    padding: 1px 5px;
}

.res-card:hover{
    background-color: rgb(206, 206, 206);
}

.shimmer{
    height: 350px;
    width: 250px;
    background-color: #e2e2e2;
    margin: 10px 0px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.filter{
    display: flex;
    gap: 10px;
}
.search > button{
    margin: 0 5px;
}

.login > button{
    padding: 5px;
    width: 70px;
}

a{
    text-decoration: none;
    color:black;
}

.menu-header *,.menu-item *{
    margin: 2px;
}

.menu-header {
    margin: 20px 0px;
    border-bottom:solid rgb(210, 209, 209) 2px;
    padding: 10px;

}
div.menu-header{
    display: flex;
    justify-content: center;
}

.menu-info{
    margin: 5px 5px;
    padding: 0 3px;
}

.menu-image{
    width: 220px;
    height: 180px;
    padding: 12px;
}

p.menu-info{
    margin: 10px 5px;
    color: rgb(76, 76, 76);
    overflow-wrap: break-word;
}




.menu-title{

    margin-bottom: 2px;
}